@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-primary-dark: #166534;
  --color-primary-light: #f0fdf4;
  --color-danger: #dc2626;
  --color-warning: #f59e0b;
  --color-success: #16a34a;
}

body {
  background-color: #f9fafb;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
